@media (prefers-color-scheme: light){
:root{
        --light:#000;
        --dark:#FCFCFC;
        --back:#EBECED;
        --color:#6bb5ff;
        --border:#0F87FF;
        --border2:#D2D4D6;
        --hover:#F0F1F2;
        --hover-border:#C0C3C4;
}}

@media (prefers-color-scheme: dark){
    :root{
        --light:#fff;
        --dark:#1c2333;
        --back:#0E1525;
        --color:#0053a6;
        --border:#0079F2;
        --border2:#4e5569;
        --hover:#2B3245;
        --hover-border:#787f91;
}}

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:16px;
    color:var(--light);
    background:var(--back)
}
.login{
    border-radius:8px;
    background:var(--dark);
    height:150px;
    width:350px;
    text-align:left;
    top:40%;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border:1px solid var(--border2)
}

.replit-auth-button{
    border-radius:5px;
    position:fixed;
    background:var(--color);
    border:none;
    bottom:10px;
    right:10px;
    color:var(--light);
    height:32px;
    width:120px;
    cursor:pointer;
    transition:.2s all;
    font-wight:700;
    border:1px solid var(--color);
    user-select:none;
}

.replit-auth-button:hover{
    border:1px solid var(--border)
}

.welcome{
    margin:10px;
    color:var(--light);
}
.need{
    font-size:13px;
    margin:10px;
    color:var(--light);
}

.sidebar{
    z-index:2;
    display:flex;
    justify-content:center;
    position:fixed;
    bottom:0px;
    left:0px;
    height:100%;
    background:var(--dark);
    width:240px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0,0.5);
    transition:.2s all;
}
.make{
    text-decoration:none;
    user-select:none;
    top:50px;
    position:absolute;
    display:block;
    background:var(--color);
    width:214px;
    border-radius:8px;
    cursor:pointer;
    transition:.2s all;
    font-wight:700;
    color:var(--light);
    height:32px;
    line-height:32px;
    text-align:center;
    border:1px solid var(--color)
}
.make:hover{
    border:1px solid var(--border)
}

.icon{
    user-select:none;
    font-family: 'Material Icons';
    font-size:16px;
}

.name{
    transition:.2s all;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    top:0px;
    left:55px;
    color:var(--light);
    height:50px;
    width:185px;
    line-height:50px;
    position:absolute;
    display:block;
    text-decoration:none;
}

.name:hover{
    opacity:.9;
}


.app{
    text-decoration:none;
    padding-left:4px;
    top:80px;
    position:absolute;
    display:block;
    background:none;;
    width:210px;
    border-radius:4px;
    cursor:pointer;
    transition:.2s all;
    font-wight:700;
    color:var(--light);
    height:35px;
    line-height:35px;
    text-align:left;
    margin:auto;
    user-select:none;
}

.app:hover{
    background:var(--hover);
}


.top{
    transition:.2s all;
    z-index:1;
    position:fixed;
    top:0px;
    left:240px;
    background:var(--dark);
    height: 54px;
    width:calc(100% - 240px);
    border-bottom:1px solid var(--border2);
}

.search{
    transition:.2s all;
    font-size:16px;
    background:var(--hover);
    color:var(--light);
    height:40px;
    width:500px;
    padding-left:10px;
    border:none;
    border-radius:5px;
    top:50%;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.search:focus{
    outline:none;
    border:1px solid var(--border2)
}

.title_tasks{
    position:absolute;
    top:0px;
    left:0px;
}

.home1{
    width:calc(100% - 240px);
    height:calc(100% - 54px);
    position:absolute;
    bottom:0px;
    right:0px;
}
.home{
    width:90%;
    height:70%;
    top:40px;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.tasks{
    flex-grow: 1;
    display:flex;
    justify-content:center;
    position:fixed;
    flex-wrap:wrap;
    width:100%;
    height:auto;
    position:absolute;
    top:60px;
}
.tasks a{
    transition:.2s all;
    z-index:0;
    flex-grow: 1;
    height:151px;
    width:366px;
    background:var(--dark);
    border:1px solid var(--border2);
    border-radius:8px;
    padding:10px;
    margin:5px;
    cursor:pointer;
}

.tasks a:hover{
    border:1px solid var(--hover-border);
}


.tasks a span{
    font-size:14px;
}

.makenew{
    transition:.2s all;
    border-radius:8px;
    text-align:center;
    background:var(--dark);
    border:1px solid var(--border2);
    top:100px;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    width:400px;
    height:290px;
    min-height:200px;
}

.textitle{
    transition:.2s all;
    background:var(--hover);
    border:1px solid var(--border2);
    height:32px;
    width:332px;
    border-radius:5px;
    padding:0px 4px;
    color:var(--light);
    transition:.2s all;
}
.textitle:hover{
    border:1px solid var(--hover-border);
}
.textitle:focus{
    outline:none;
    border:1px solid var(--color);
}

.desc{
    transition:.2s all;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top:5px;
    background:var(--hover);
    border:1px solid var(--border2);
    height:120px;
    width:332px;
    border-radius:5px;
    padding:0px 4px;
    color:var(--light);
    transition:.2s all;
    resize:none;
    padding-top:2px;
}
.desc:hover{
    border:1px solid var(--hover-border);
}
.desc:focus{
    outline:none;
    border:1px solid var(--color);
}
.save{
    border-radius:5px;
    position:absolute;
    background:var(--color);
    border:none;
    bottom:10px;
    right:30px;
    color:var(--light);
    height:32px;
    width:70px;
    cursor:pointer;
    transition:.2s all;
    border:1px solid var(--color);
    user-select:none;
}

.save:hover{
    border:1px solid var(--border)
}

.cancel{
    border-radius:5px;
    position:absolute;
    background:var(--hover);
    border:none;
    bottom:10px;
    right:110px;
    color:var(--light);
    height:32px;
    width:70px;
    cursor:pointer;
    transition:.2s all;
    border:1px solid var(--hover);
    user-select:none;
}

.cancel:hover{
    border:1px solid var(--border2)
}

.showbig{
    background:var(--dark);
    border:1px solid var(--border2);
    border-radius:8px;
    height:90%;
    width:80%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0,0.5);
}

.showbig::backdrop{
    background:#0d0d0d;
    opacity:.6;
    color:var(--light);
}

.close{
    position:absolute;
    top:20px;
    right:20px;
    color:var(--light);
    height:25px;
    width:25px;
    border-radius:5px;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    transition:.2s all;
}

.close:hover{
    background:var(--hover);
}

.delete{
    position:absolute;
    bottom:20px;
    right:20px;
    color:var(--light);
    height:25px;
    width:25px;
    border-radius:5px;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    transition:.2s all;
}

.delete:hover{
    color:#C20A0A;
    background:var(--hover);
}

.edit{
    position:absolute;
    bottom:20px;
    right:50px;
    color:var(--light);
    height:25px;
    width:25px;
    border-radius:5px;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    transition:.2s all;
}

.edit:hover{
    background:var(--hover);
}

.done{
    position:absolute;
    bottom:20px;
    right:80px;
    color:var(--light);
    height:25px;
    width:25px;
    border-radius:5px;
    text-align:center;
    line-height:25px;
    cursor:pointer;
    transition:.2s all;
}

.done:hover{
    background:var(--hover);
    color:#009118;
}

.about{
    transition:.2s all;
    color:var(--light);
    width:80%;
    height:80%;
    position:absolute;
    top:80px;
    left: 50%;
    position:absolute;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.logo{
    cursor:pointer;
    height:25px;
    width:25px;
    position:absolute;
    left:15px;
    top:10px;
    padding:2px;
    border:1px solid var(--border2);
    background:var(--hover);
    border-radius:14.5px;
}

.logo:hoer{
    opacity:.9;
}

.delmod{
    color:var(--light);
    height:150px;
    width:350px;
    background:var(--dark);
    border:1px solid var(--border2);
    border-radius:8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0,0.5);
}

.delmod::backdrop{
    background:#0d0d0d;
    opacity:.6;
    color:var(--light);
}

.del{
    border-radius:5px;
    position:absolute;
    background:#C20A0A;
    border:none;
    bottom:10px;
    right:10px;
    color:var(--light);
    height:32px;
    width:70px;
    cursor:pointer;
    transition:.2s all;
    border:1px solid #C20A0A;
    user-select:none;
}

.del:hover{
    border:1px solid #E52222;
}

.cancel2{
    border-radius:5px;
    position:absolute;
    background:var(--hover);
    border:none;
    bottom:10px;
    right:90px;
    color:var(--light);
    height:32px;
    width:70px;
    cursor:pointer;
    transition:.2s all;
    border:1px solid var(--hover);
    user-select:none;
}

.cancel2:hover{
    border:1px solid var(--border2)
}

.cancel2:focus{
    outline:none;
    border:1px solid var(--border2)
}

.image{
    color:var(--light);
    border-radius:5px;
    text-align:center;
    background:var(--dark);
    border:1px solid var(--border2);
    width:370px;
    height:150px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0,0.5);
}

.image::backdrop{
    background:#0d0d0d;
    opacity:.6;
    color:var(--light);
}

@media (max-width: 800px){
    .sidebar{
        width:150px;
    }
    .app{
        width:124px;
    }
    .make{
        width:126px;
    }
    .name{
        width:95px;
    }
    .top{
        left:150px;
        width:calc(100% - 150px);
    }
    .search{
        width:80%;
    }
    .home1{
        left:150px;
        width:calc(100% - 150px);
    }
}
@media (max-width: 600px){
    .makenew{
        width:200px;
    }
    .textitle{
        width:140px;
    }
    .desc{
        width:140px;
    }
    .home{
        height:auto;
    }
}

.add{
    position:absolute;
    right:5px;
    color:var(--light);
    height:20px;
    width:20px;
    padding:5px;
    border-radius:7px;
    background:var(--color);
    border:none;
    text-align:center;
    line-height:20px;
    top: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor:pointer;
    text-decoration:none;
    user-select:none;
    transition:.2s all;
    font-size:20px;
    opacity:0.8;
}

.add:hover{
    filter:brightness(120%);
    opacity:0.8;
}
    