<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>ReplTask</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="apple-touch-icon" href="/static/logo_apple">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="login">
            <h1 class="welcome">Welcome To ReplTask</h1>
            <span class="need">You Will Need To Login With Replit To Use ReplTask</span>
        <script authed="window.open('/home','_self')" src="https://auth.util.repl.co/script.js"></script>
        </div>
        <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>
    </body>
</html>