<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <title>ReplTask</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "icon" href = "static/logo.png" type = "image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="{{ url_for('static',filename='main.css')}}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    </head>
    <body>
        <div class="sidebar">
            <img src="static/logo.png" onerror="document.getElementById('logo').src ='static/logo.png'" id="logo" class="logo" onclick="document.getElementById('image').showModal()">
            <a class="name" style="font-size:14px;" id="name">Name</a>
            <a class="make" href="/new">Create A Task</a>
            <a style="top:90px;" class="app" href="/home">Home</a>
            <a style="top:130px;background:var(--color);opacity:0.8;" class="app" href="/tasks">New Task</a>
            <a style="top:170px;" class="app" href="/about">About</a>
            <a style="top:210px;" class="app" href="https://replit.com/">Replit</a>
            <a style="top:250px;" class="app" href="__repl">Like</a>
            <a style="top:290px;" class="app" href="https://replit.com/@GoodVessel92551">Follow Me</a>
        </div>
        <div class="top">
            <a href="/new" class="add icon">add</a>
            <form method="get" action="/search">
                <datalist id="search_list">
                    <option>Home</option>
                    <option>New Task</option>
                    <option>About ReplTask</option>
                    <option>Like ReplTask</option>
                    <option>Follow Me</option>
                    <option>Replit</option>
                    <option>Remove All Tasks</option>
                    <option>Reset Profile Image</option>
                </datalist>
                <input type="text" list="search_list" autocomplete="on" autocorrect="true" name="search" class="search" placeholder="Search Tasks">
            </form>
        </div>
        <div class="home1">
        <div class="makenew">
            <h2 style="float:left;margin-left:30px;">Make A Task</h2>
            <form method="post">
            <input type="text" name="title" placeholder="Title" id="title" class="textitle" required>
            <textarea class="desc" name="desc" placeholder="Description" required></textarea>
            <input class="cancel" value="Cancel" onclick="window.open('/home','_self')" type="button">
            <input class="save" value="Save" type="submit">
            </form>
        </div>
        </div>
        <dialog id="image" class="image">
            <h2 style="float:left;margin-left:15px;">Change Your Profile Picture</h2>
            <form method="post">
            <input type="url" name="url" placeholder="Enter A URL" id="edittitle" class="textitle" required>
            <input class="cancel" value="Cancel" onclick="document.getElementById('image').close()" type="button">
            <input class="save" value="Save" type="submit">
            </form>
        </dialog>
        <script>
            name = {{name|tojson}};
            url = {{url|tojson}};
            document.getElementById("logo").src = url
            document.getElementById("name").innerText = "@"+name
            document.getElementById("name").href = "https://replit.com/@"+name
        </script>
    </body>
</html>